<div class="profile">
<br><br><br>
	<div class="row">
		<h1 class="aboutus-home white" style="padding-top:1em">About Us</h1>
		<!--<div class="aboutus-logo">(insert IvyRocket logo)</div>-->
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

		<p class="aboutus-quote white" style="padding-top:2em">"A mentor is someone who sees more talent and ability within you, than you see in yourself, and helps bring it out of you."
		<br>
		-Bob Proctor</p>

		<p class="white" style="font-size:1.5em; padding-top:2em"> IvyRocket was founded in Philadelphia, PA by a group of students attending the University of Pennsylvania. Given the <dfn title="Many companies charge upwards of $3000 for helping rising seniors gain admission to their dream colleges.">absurdly high cost of college consulting services</dfn>, it was time that technology made admissions mentorship more affordable and more accessible. Upon seeing that Ivy League college students were highly knowledgeable of the most recent tips and tricks, and would be much more willing to aid high school students, IvyRocket was founded in March 2014. </p>
		</div>


		<div class="aboutus-links" style="padding-top:10em; padding-bottom:3em">
		 
		    <a href="/our_team"><i class="fa fa-rocket white"></i>
		     
		      <span class="other-links" style="padding-right:1em">Our Team</span></a> 
		     
		    <!--<a href="#"><i class="fa fa-child white"></i><span class="other-links" style="padding-right:1em">PR</span></a> -->
		  	<a href="/disclaimer"><i class="fa fa-university white"></i><span class="other-links" style="padding-right:1em">Disclaimer</span></a>
		  	<a href="#"><i class="fa fa-envelope white"></i><span class="other-links">Contact</span></a> 
		</div>

	</div>
</div>
