<div class="profile">
<br><br><br>
	<div class="row">

		<h1 class="aboutus-home white" style="padding-top:1em">Become a Mentor</h1>
		<!--<p class="logo">(insert IvyRocket logo)</p>-->
	</div>
	
	
	<div class="row" style="padding-top: 4em; padding-bottom:0em">
		<p class="white" style="font-size:1.8em; padding-top:1em"> Becoming a mentor is an extremely rewarding decision. On top of guiding high school students, you can build personal relationships with younger students and make a good amount of money from your experiences at one of the top learning institutions in the world. </p><br><br>
		
		<br>
		<p class="white" style="font-size:1.8em;">
		Having braved the admissions process yourself – and come out successful on the other side – we know you will be able to guide high school students around all of the mistakes you made and allow them to reach their dream school. 
		 </p>
		<br>
		<p style="font-size:1.5em; text-align:center; padding-top:1em"><i>Read the Mentor Overview and fill out the Questionnaire to become an IvyRocket mentor! </i><br><%= link_to "Mentor Overview", image_path("IvyRocketMentorOverview.pdf"), title:"Click here to open a pdf", style:"font-size:1.5em", class:"other-links-blue" %></p>
		<p style="font-size:1.5em; text-align:center; margin-top:-1em"><%= link_to "Mentor Questionnaire", image_path("MentorApplication.docx"), title:"Click here to download a Word document", style:"font-size:1.5em", class:"other-links-blue"%></p>
	</div>

	<div class="row" style="padding-top:0em; padding-bottom:11em">

		<!--<img src="http://i60.tinypic.com/1yu6w6.jpg" border="0" style="margin-left:auto; margin-right:auto;display:block; padding-top:1em">-->
		<div class="two columns"></div>
		<div class="eight columns">
		<p class="aboutus-quote" style="padding-top:2em; color: #e0dde7">"Becoming a mentor is a great way for me to help out driven, passionate high school students by putting my knowledge and experience to good use."
		<br>
		-Andy Feng, Mentor @ University of Pennsylvania</p>
		</div>
		<div class="two columns"></div>
	</div>

</div>
