<div class="profile" style="padding-bottom:25em">
<br><br><br>
	<div class="row">

		<div class="disclaimer-home" style="padding-top:1em">Contact Us</div>
		<!--<p class="logo">(insert IvyRocket logo)</p>-->

		<div class="one columns"></div>
		<div class="ten columns">
		<h2 class="white" style="font-size:2.5em; padding-top:2em;  text-align:center">
			You can contact the IvyRocket team with any questions or concerns that you might have via<br><br>
			email: <%=mail_to "admin@ivyrocket.com", nil, class:"email-links"%> <br><br>
			text: (267) 776-2716
			<br><br>
			We will get back to you within 24 hours (for short questions, text us for faster response).

		<!--<p class="logo">(insert IvyRocket logo)</p>-->
		
		</h2>
		</div>

		<div class="one columns"></div>
	</div>
</div>