<div class="profile" style="padding-bottom:10em">
	<br><br>
	<h1 class="welcome-index" style="padding-top:100px">
	The IvyRocket Process
	</h1>

	<div class="row" style="padding-top:3em;">
		<div class="row">
			<div style="text-align:center"><%= image_tag "process.png" %></div>
			<br><br>
			<h3 class="white">
				Our website will allow you to connect with mentors who can guide you through the difficult process of college admissions. When you choose a mentor, you have the option of choosing from one of multiple packages in which the mentor will aid you in a specific area of the admissions process.
			</h3>
			<br><br><br>
			<h2 class="white" style="font-weight:bold">First 20 Minute Free Introduction</h2><br>
				<h3 class="white">
					This is your chance to find a mentor who you get along with and trust. Some of our mentors are entering college while others are rising seniors, and all of them vary in their backgrounds and majors. Find a mentor that aligns with your interests and experiences; you want to choose a mentor who you think will best aid you! <br><br>
					After you choose to have a free 20 minute conversation with a mentor, the mentor should contact you via email to set up a time to talk. During the conversation, you will spend some time getting to know each other. The mentor will also try to evaluate your chances of getting into your dream school based on what you have done throughout high school and what you can potentially do in the next few months. In the final few minutes the mentor will answer any questions you have about the college or the admissions process. <br><br>
					After the chat, you can choose to buy the First Hour package or the Complete package with that mentor (or chat with another mentor). If you have questions before you purchase anything, you can email the mentor directly. Alternatively you can send your questions to 
					<%= mail_to "help@ivyrocket.com", nil, class:"email-links"%> and we will get back to you within 24 hours. 

				</h3>
			<br><br><br><br>
			<h2 class="white" style="font-weight:bold">The First Hour</h2><br>
				<h3 class="white">
					In this package the mentor will craft an application strategy for you and answer any questions you may have about the specific process with the mentor’s university. Your mentor will use this time to thoroughly understand your credentials and experiences, evaluate your extracurricular activities, and determine one or more ideal strategies for applying that could put you at an advantage over other students (such as choosing the major that can maximize your chances and choosing what parts of your background are most important to showcase). The mentor will be able to give you valuable feedback from a higher level perspective than you, your family, teachers, or friends. <br><br>
					In addition to the application strategy, the mentor will provide details about their decision to choose a school. This can include favorable and unfavorable specifics about the school, and even descriptions of the activities and organizations that you may want to join. All of this information is highly valuable and can be used to showcase your interest and passion for the university. <br><br>
					Finally, the mentor will try to provide recommendations for what you can do over the next few months before the application deadline that can really make your application stand out. There are many different possibilities (you may even have some ideas in mind) and sometimes the mentor can be the final push that you need. <br><br>
					If you want the conversation to be recorded, you may ask the mentor. There are many options to do this, but see if the mentor has a preference. The easiest option is Youtube Hangouts on Air, which uploads a copy of the conversation to Youtube. Make sure you notify the mentor that the conversation is being recorded, and set the video privacy to Unlisted or Private. (To do so, go to Youtube.com/upload and click on Broadcast, at which point you can add the mentor). Other options are available <%=link_to "here", "http://blogs.techsmith.com/tips-how-tos/how-to-record-skype-google-hangouts-and-webinars/", target: "_blank", class:"email-links" %>.
				</h3>

			<br><br><br><br>
			<h2 class="white" style="font-weight:bold">CommonApp Package</h2><br>
				<h3 class="white">
					The Common App Package, the next step in the IvyRocket process, is a comprehensive walkthrough of the Common Application (MIT does not use the CommonApp, so buying this package with an MIT mentor will be a walkthrough of MyMIT). When filling out the CommonApp, there are innumerable options as to how you choose to display and organize your achievements – essentially, you have to ask yourself if you are marketing yourself in the best possible way. Here is where a mentor can provide a broad, experienced perspective and aid you in filling out the CommonApp, from extracurriculars to the short answer question. <br><br>
					To do so, the mentor will use screensharing tools on Google Hangouts or Skype to see exactly how things will be displayed. They will walk through the various stages of the CommonApp and provide their advice in order for your application to communicate exactly what you intend. <br><br>
					Additionally, the mentor will aid you in crafting, choosing, and modifying your main CommonApp essay. 85% of high school applicants eventually scrap their first version of the CommonApp essay – usually it is only through repetitive attempts that you can solidify what you want to say, how you want to say it, and who you want to showcase yourself to be. The mentor will help with this often difficult and frustrating process from start to finish. 
					The final component of the CommonApp package is to guide you on who you should ask for recommendation letters. 

				</h3>
			

			<br><br><br><br>
			<h2 class="white" style="font-weight:bold">Supplement Package</h2><br>
				<h3 class="white">
					In the next part of the IvyRocket Process, your mentor will guide you through the CommonApp Supplement of his/her school. Often this will be a combination of essays and short answer questions. This is the biggest thing that can swing an application decision – all other parts of the application are somewhat predetermined except for the Supplement answers you provide. Here is your chance to showcase how you feel about the school, how you see yourself fitting in, and how your personality meshes with the atmosphere of the school. The mentor is the biggest asset to you because he or she will make sure your writing conveys the right meaning in the right format. Creativity on these essays from the guidance of an experienced mentor will allow set you apart from other applicants' essays. Often a mentor will advise writing multiple essay responses to the same question – be sure to do so in order to give the mentor many options and opportunities for feedback. 

				</h3>

			<br><br><br><br>
			<h2 class="white" style="font-weight:bold">Additional Hours</h2><br>
				<h3 class="white">
					If you purchase additional hours, you will be able to follow up with your mentor beyond the other packages for more input, answers, and advice. Additional hours can be for: 
				</h3>
				<ul>
					<li style="font-size:2em;list-style-position: outside;margin-left:1em"><h3 class="white">Update the mentor and ask for advice after the Early Action/Decision decisions are released</h3></li>
					<li style="font-size:2em;list-style-position: outside;margin-left:1em"><h3 class="white">Follow up on whether you implemented the mentor’s initial suggestions (such as starting a research project) and ask questions about where to go next</h3></li>
					<li style="font-size:2em;list-style-position: outside;margin-left:1em"><h3 class="white">Update your application strategy if you change your plans (rise in SAT score, win an award, change your intended major)</h3></li>
				</ul>
		</div>

		
	

	</div>

</div>