<!-- ######################## Header ######################## -->
  
<div class="heading pricing">

<h1 class="welcome_text white">
  Take charge of your future. Invest in your education.
</h1>
<h3 class="white" style="text-align:center; margin: 10px 0 0 0">
  You can talk to any and all of our mentors for free for the first hour.<br><br>

</h3>
</div>

<!-- ######################## Section ######################## -->

<section class="section_light">
<div class="pricing-background">

<div class="row" style="padding-top: 20px">

  <div class="three columns">
    <ul class="pricing-table">
      <li class="title"><h4><b>Second Hour</b></h4></li>
      <li class="price">$40.00</li>
      <li class="bullet-item"><h6 style="color: #4a4a4c; font-weight: normal">This second hour will be used to design a personalized application strategy. Also includes all of the essays of your mentor.<br><br></h6></li>
      <li class="cta-button"><a class="button-buy" href="#">Buy it Now &raquo;</a></li>
    </ul>
  </div>

  <div class="three columns">
    <ul class="pricing-table">
      <li class="title"><h4><b>CommonApp</b></h4></li>
      <li class="price">$60.00</li>
      <li class="bullet-item"><h6 style="color: #4a4a4c; font-weight: normal">Walk-through of every single part of the CommonApp and time for drafting and polishing two CommonApp essays. <br><br></h6></li>
      <li class="cta-button"><a class="button-buy" href="#">Buy it Now &raquo;</a></li>
    </ul>
  </div>

  <div class="three columns">
    <ul class="pricing-table">
      <li class="title"><h4><b>Supplement</b></h4></li>
      <li class="price">$40.00</li>
      <li class="bullet-item"><h6 style="color: #4a4a4c; font-weight: normal">Complete coverage of the supplement for a school.<br> This includes time to brain storm and revise the supplement essays and any other short answers. </h6></li>
      <li class="cta-button"><a class="button-buy" href="#">Buy it Now &raquo;</a></li>
    </ul>
  </div>

  <div class="three columns">
    <ul class="pricing-table">
      <li class="title"><h4><b>Additional Hour</b></h4></li>
      <li class="price">$18.00</li>
      <li class="bullet-item"><h6 style="color: #4a4a4c; font-weight: normal"><br>An additional hour with your mentor that is not included in the previous packages.<br><br></h6></li>
      <li class="cta-button"><a class="button-buy" href="#">Buy it Now &raquo;</a></li>
    </ul>
  </div>
</div>


<div class="row" style="padding-top: 20px">
  <div class="one column"></div>
  
  <div class="four columns">
    <ul class="pricing-table">
      <li class="title"><h4><b>Complete Package</b></h4></li>
      <li class="price">$200.00</li>
      <li class="bullet-item"><h6 style="color: #4a4a4c; font-weight: normal">Includes the Second Hour, CommonApp, and Supplement packages plus unlimited hours with your mentor!</h6></li>
      <li class="cta-button"><a class="button-buy" href="#">Buy it Now &raquo;</a></li>
    </ul>
  </div>

  <div class="two column"></div>
  
  <div class="four columns">
    <ul class="pricing-table">
      <li class="title"><h4><b>ALL Mentors' Essays</b></h4></li>
      <li class="price">$15.00</li>
      <li class="bullet-item"><h6 style="color: #4a4a4c; font-weight: normal">Includes the CommonApp and Supplement essays of all of the mentors. <br><br></h6></li>
      <li class="cta-button"><a class="button-buy" href="#">Buy it Now &raquo;</a></li>
    </ul>
  </div>

  <div class="one column"></div>
</div>


</div> 
</section>
<br><br><br><br><br><br>