<h2> <%= @mentor.name %>, </h2><br>

<p><%=@student.name %>, <%=@student.email%>, has purchased the First Hour with you!</p>
<br>

<h4 style="font-weight:normal"> Sincerely,
<br> The IvyRocket Team</h4>