<h2> <%= @mentor.name %>, </h2><br>

<p><%=@student.name %>, <%=@student.email%>, is interested in your profile and is requesting to chat with you! This should be a short 20 minute casual conversation and should include the following topics: </p>
<ul>
<li> Give your background (High school interests, briefly talk about your college admissions process, college interests, major and intended career path) </li>

<li> High School Student’s background and interests</li>

<li> Explain the increasing difficulty of college admissions in the Mentor Training Guide</li>

<li> Be yourself, have fun, and sell your abilities!</li>

</ul><br>

<h4 style="font-weight:normal"> Sincerely,
<br> The IvyRocket Team</h4>