<h3><%= @student.email %>,</h3><br>

<p>Thank you for stating your interest in speaking with <%=@mentor.name%>. He or she has been notified and will contact you soon for a 20 minute casual conversation. Feel free to talk about: </p>

<ul>
<li> Your mentor’s background, college admissions experience, and intended career path </li>

<li> Your background and interests</li>

<li> How the mentor will help you throughout the admissions process</li>

<li> What your plans are in the upcoming months</li>

<li> Any questions you have for the mentor </li>

<li> Have fun, be yourself – all of the mentors look forward to talking with you!</li>

</ul><br>

<h4 style="font-weight:normal"> Sincerely,
<br> The IvyRocket Team</h4>