<h3>Dear <%= @student.name %>,</h3><br>

<p>Thank you for stating your interest in speaking with the IvyRocket Team. We have been notified and will contact you soon at <%= @student.email %> to set up a time for a free 20 minute consultation. Feel free to talk about: </p>

<ul>
<li> Your background - we can tell you whether or not you have a chance of making it into an Ivy League institution </li>

<li> What IvyRocket can do for you</li>

<li> How the mentors will help you throughout the admissions process</li>

<li> What your plans are in the upcoming months</li>

<li> Any other questions you might have about college admissions! We all look forward to talking with you!</li>

</ul><br>

<h4 style="font-weight:normal"> Sincerely,
<br> The IvyRocket Team</h4>